.testimonial {

}
  .testimonial__text{
    font-family: "Georgia", serif;
    color: $oil;
    font-style: italic;
    font-size: rem-calc(16);
    margin-bottom: rem-calc(30);

    @media #{$medium-up}{
      font-size: rem-calc(18);
    }
    // @media #{$large-up}{
    //   font-size: rem-calc(16);
    // }
  }
  .testimonial__meta {
    list-style-type: none;
    margin-left: 0;
    text-align: center;
    line-height: 1.2;

    li:first-child {
      font-size: rem-calc(14);
      font-weight: 400;
      color: $oil;
    }

    li:last-child {
      font-size: rem-calc(12);
      color: lighten($oil, 10%);
    }

    @media #{$large-up}{
      line-height: 1.4;
      li:first-child {
        font-size: rem-calc(16);
      }
      li:last-child {
        font-size: rem-calc(14);
      }
    }
  }