.blockquote{
  border-left: rem-calc( quarter($base-spacing-unit) ) solid scale-color($base-background-color, $lightness: -10%);
  padding-left: rem-calc( $base-spacing-unit );
  padding-top: rem-calc( quarter($base-spacing-unit) );
  padding-bottom: rem-calc( quarter($base-spacing-unit) );
}

.blockquote__header{
  @extend %h4;
  color: #777;
  margin-bottom: rem-calc( halve($base-spacing-unit) );
}
.blockquote__body{
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: #999;
}
.blockquote__footer{
  font-size: 85%;
  color: #777;
}