.badge{
  display: inline-block;
  padding: rem-calc( quarter($base-spacing-unit) );
  margin-bottom: rem-calc( quarter($base-spacing-unit) );
  border: 1px solid $base-text-color;
  border-radius: $base-radius;
  line-height: 1;
}