/* ==========================================================================
   LAYOUTS MODULE
   ========================================================================== */

/*
   BASE
   ========================================================================== */
html, body {
  height: 100%;
}



/*
   HEADER
   ========================================================================== */
.layout-header{
  display: table;
  height: 100%;
  width: 100%;
  color: $color-white;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../img/bg-small.jpg);
  @media #{$large-up}{
    background-image: url(../img/bg.jpg);
    background-position: center top;
  }

  @extend %pos-rel;

  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: -webkit-linear-gradient(45deg, rgba(0, 37, 76, 0.8), rgba(0, 153, 255, 0.4));
    background-image: -moz-linear-gradient(45deg, rgba(0, 37, 76, 0.8), rgba(0, 153, 255, 0.4));
    background-image: -o-linear-gradient(45deg, rgba(0, 37, 76, 0.8), rgba(0, 153, 255, 0.4));
    background-image: linear-gradient(45deg, rgba(0, 37, 76, 0.8), rgba(0, 153, 255, 0.4));
  }
}
  .layout-header__headline{
    line-height: 1;
  }

  .layout-header__intro{
    position: relative;
    display: table-cell;
    table-layout: fixed;
    vertical-align: middle;
    z-index: z("default");
  }

  .layout-header__learn-more {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: $base-spacing-unit;

    &,
    &:hover{
      color: $color-white;
    }
  }




/*
   FOOTER
   ========================================================================== */
.layout-footer{
  font-size: rem-calc(14);
  padding: $base-spacing-unit;
  color: $color-white;
  @extend %bg-dark;
}


/*
   Remove every margin bottom for everty last element inside layout unit
   ========================================================================== */
.layout__unit > :last-child{
  margin-bottom: 0;
}

