.portfolio{
  max-width: 100%;
  overflow: hidden;
  margin-bottom: rem-calc(100);
  &:last-child{
    margin-bottom: 0;
  }
}
  .portfolio__img{
    @extend %pos-rel;
  }
  .portfolio__desc{
    color: #f5f5f5;
    background-color: #f6f9fa;
  }

.portfolio--qualixen{
  .portfolio__desc{
    background-color: scale-color($color-qualixen, $lightness: -2.5%);
  }
}

.portfolio--anona{
  .portfolio__desc{
    background-color: scale-color($color-secondary, $lightness: -2.5%);
  }
}

.portfolio--cominter{
  .portfolio__desc{
    background-color: scale-color($color-success, $lightness: -2.5%);
  }
}

.portfolio--muse{
  .portfolio__desc{
    background-color: scale-color($color-alert, $lightness: -2.5%);
  }
}

.portfolio--asoris{
  .portfolio__desc{
    background-color: scale-color($color-asoris, $lightness: -2.5%);
  }
}