/* ==========================================================================
   LAYOUTS MODULE
   ========================================================================== */

/*
   BASE
   ========================================================================== */
html, body {
  height: 100%;
}



/*
   HEADER
   ========================================================================== */
.layout-header{
  display: table;
  @extend %pos-rel;
  height: 100%;
  width: 100%;
  background-color: #446CB3;
  color: $color-white;

  .headline{
    line-height: 1.2;
    @media #{$large-up}{
      font-size: rem-calc(modular-scale(2, $base-font-size, $golden));
    }
  }

  // a{
  //   color: $color-white;
  // }
}
  .layout__intro{
    display: table-cell;
    table-layout: fixed;
    vertical-align: middle;
  }

  .learn-more {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: $base-spacing-unit;

    &,
    &:hover{
      color: $color-white;
    }
  }




/*
   FOOTER
   ========================================================================== */
.layout-footer{
  font-size: rem-calc(14);
  padding: $base-spacing-unit;
  color: $color-white;
  @extend %bg-primary;
}


// .valign-middle {
//   display: table;
//   table-layout: fixed;
//   height: 100%;
//   width: 100%;

//   .columns{
//     display: table-cell;
//     table-layout: fixed;
//     vertical-align: middle;
//   }

//   .columns{
//     float: none;
//   }
// }