.bg-primary,
%bg-primary{
  background-color: $color-primary;
}

.bg-dark,
%bg-dark{
  background-color: $color-dark;
}

.bg-gray,
%bg-gray{
  background-color: $color-gray;
}

.text-disabled{
  color: #999999;
}
.text-primary{
  color: $color-primary;
}