.bg-primary,
%bg-primary{
  background-color: color('primary');
}

.bg-secondary,
%bg-secondary{
  background-color: color('secondary');
}

.bg-dark,
%bg-dark{
  background-color: color('background', 'dark');
}

.bg-gray,
%bg-gray{
  background-color: color('background');
}

.bg-even,
%bg-even{
  background-color: color('background', 'light');
}

.text-primary{
  color: color('primary');
}

.text-accent{
  color: color('accent');
}

.text-disabled{
  color: $color-disabled;
}