/**
 * I use these as default colors throughout
 * Ref: http://www.flatuicolorpicker.com/
 */

//$color-primary:                         #446cb3; //CHAMBRAY
$color-primary:                         #2c97de; //CHAMBRAY
$color-secondary:                       #ABB7B7; //SILVER
$color-alert:                           #DB0A5B; //FLAMINGO
$color-success:                         #03C9A9; //SHAMROCK
$color-warning:                         #F7CA18; //RIPE LEMON
$color-info:                            #19B5FE; //CURIOUS BLUE
$color-qualixen:                        #2c3e50;
$color-white:                           #f9f9f9;
$color-asoris:                          #35BAEB;