/**
 * I use these as default colors throughout
 * Ref: http://www.flatuicolorpicker.com/
 */

$color-primary:                         #2C97DE; //CHAMBRAY
$color-secondary:                       #ABB7B7; //SILVER
$color-alert:                           #DB0A5B; //FLAMINGO
$color-success:                         #03C9A9; //SHAMROCK
$color-warning:                         #F7CA18; //RIPE LEMON
$color-info:                            #19B5FE; //CURIOUS BLUE
$color-qualixen:                        #2C3E50;
$color-asoris:                          #35BAEB;
$color-white:                           #FFFFFF;
$color-gray:                            #F3F3F3;
$color-dark:                            #364347;