$opacity: (
  'light': 0.8, // opacity used with lighter colors
  'dark': 0.4  // opacity used with darker colors
) !default;
@function transparency($color, $key: 'light') {
  $alpha : map-get($opacity, $key);
  @return rgba($color, $alpha);
}

// @function foreground-color($bgcolor, $color-dark, $color-light, $threshold: 30%) {
//   @return if( lightness($bgcolor) >= $threshold, $color-dark, $color-light );
// }

$color-interval: 10% !default;
@function color-level($color, $level: 0) {
  $color-base: if($level < 0, black, white);
  @return mix($color-base, $color, abs($level) * $color-interval);
}

$color-qualixen: #2C3E50;
$color-asoris:   #35BAEB;
$color-muse:     #f30b65;
$color-anona:    #b9c3c3;
$color-cominter: #39cccc;

$color-disabled: #999999;

$color-key: 'base' !default;

$colors: (
  'primary': (
    'base' : #2C97DE,
    'light': color-level(#2C97DE, 2),
    'dark' : color-level(#2C97DE, -2)
  ),
  'accent': (
    'base' : #70C1B3,
    'light': color-level(#70C1B3, 2),
    'dark' : color-level(#70C1B3, -2)
  ),
  'secondary': (
    'base' : #70C1B3,
    'light': color-level(#70C1B3, 2),
    'dark' : color-level(#70C1B3, -2)
  ),
  'foreground': (
    'base' : #505050,
    'invert': #FFFFFF
  ),
  'background': (
    'base' : #F8F8F8,
    'light': #FFFFFF,
    'dark' : #364347
  ),
  'alert': (
    'base' : #DB0A5B,
    'light': color-level(#DB0A5B, 2),
    'dark' :  color-level(#DB0A5B, -2)
  ),
  'warning': (
    'base' : #F7CA18,
    'light': color-level(#F7CA18, 2),
    'dark' :  color-level(#F7CA18, -2)
  ),
  'info': (
    'base' : #19B5FE,
    'light': color-level(#19B5FE, 2),
    'dark' :  color-level(#19B5FE, -2)
  ),
  'success': (
    'base' : #03C9A9,
    'light': color-level(#03C9A9, 2),
    'dark' :  color-level(#03C9A9, -2)
  )
) !default;
@function color(
  $name: 'primary',
  $variant: $color-key
) {
  $color: null;

  // Get the color spectrum
  $color-spectrum: map-get($colors, $name);

  // Get the color variant
  @if $color-spectrum{
    $color: map-get($color-spectrum, $variant);
    @return $color;
  } @else{
    @warn "Unknown `#{$variant}` in $colors.";
    @return null;
  }

}